# Logs and temporary files
*.log
*.tmp
temp/
logs/

.next
.qodo
.vscode

# Dependency directories
node_modules
vendor/
target/

# Build output directories
dist/
build/
out/

# Environment variables
.env
.env.local

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
